.slide--1{

  .ground{
    background-color: #E5E5E5;
    width:100vw;
    height:14vh;
    position: absolute;
    bottom:0;
  }

  
  
  .car{
    width:50vw;
    position: absolute;
    right:-50vw;
    bottom:0vh;
    svg{
      width:100%;
    }
  }

  &.swiper-slide-active{
    .car{
      animation: car 0.5s 0.6s forwards;
      @keyframes  car {
        0%{right: -50vw}
        100%{right: 0;}
      }
    }
  }

  .bubble{
    opacity: 0;
    @keyframes bubbelfadein {
      0%{opacity: 0;}
      100%{opacity: 100%;}
    }
    transition: opacity 0.3s;
    &:nth-of-type(1){
      bottom:18vh;
      left:5vw;
      .bubble__line{
       animation-delay:0.4s;
      }
      .bubble__circle{
        // remplace par icon du restaurant
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1200px-Speaker_Icon.svg.png");
      }
   }
   &:nth-of-type(2){
    bottom: 32vh;
    left: 60vw;
      .bubble__circle{
        // remplace par icon du muscule
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1200px-Speaker_Icon.svg.png");
      }

     .bubble__line{
       animation-delay:0.2s;
     }
   }
   
   &:nth-of-type(3){
      bottom:40vh;
      left:90vw;
      .bubble__circle{
        // remplace par icon du event
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1200px-Speaker_Icon.svg.png");
      }
     .bubble__line{
       animation-delay:0.3s;
     }
   }
   
    &:nth-of-type(4){
      bottom:40vh;
      left:73vw;
      animation:scalePosition 2s infinite alternate;
      @keyframes scalePosition {
       0%{transform:translateX(0)}
       100%{transform:translateX(-30px)}
     }
     .bubble__circle{
      // remplace par icon du bar
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1200px-Speaker_Icon.svg.png");
    }
     .bubble__line{
       animation-delay:0.1s;
       //animation:none;
     }
   }

   
   
   .bubble__circleBig{
     width:150px;
     height:150px;
     background-color:#8F8CC4;
     border-radius:50%;
     display: flex;
     justify-content: center;
     align-items: center;
     border:solid 6px #fff;
     position: relative;
     animation:scale 2s infinite alternate;
     @keyframes scale{
       0%{width:100px;height:100px}
       100%{width:150px;height:150px}
     }
     &::after{
       content:"";
       display: block;
       width:calc(100% - 13px);
       height:calc(100% - 13px);
       position: absolute;
       border-radius:50%;
       border:dashed 6px $color-main;
       top:0;
       left:0;
     }
     .bubble__circle{
       position: relative;
       z-index: 10;
       //margin-top: 35px;
     }
   }
  }
  &.swiper-slide-active{
    .bubble{
      animation: bubbelfadein 0.3s forwards;
      &:nth-of-type(1){
        animation-delay: 1s;
      }
      &:nth-of-type(2){
        animation-delay: 1.2s;
      }
      &:nth-of-type(4){
        animation-delay: 1.4s;
      }
      &:nth-of-type(3){
        animation-delay: 1.6s;
      }
   }
  }
}